


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

#chipViewer {
  background-color: gray;
  a {
    background-color: white;
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

#navbar {
  position: relative;
  top: 0;
  display: flex;
  color: white;
  height: 5vh;
  align-items: flex-start;
  justify-content: stretch;
  flex-flow: column nowrap;
}

#navbar div {
  height: 100%;
}

#navbar a {
  color: white;
  height: 60%;
  font-size: 16pt;
}

#navbar .MuiStack-root {
  display: flex;
  align-items: center;
}

#navbar .MuiStack-root a {
  display: flex;
  align-items: center;
  margin-left: 1.5em;
  transition: color 0.2s linear;
}

#navbar .MuiStack-root a:hover {
  color: #c4a0f9
}

#navbar button {
  position: absolute;
  right: 1.5em;
}

#resetChipView {
  position: absolute;
  left: 20px;
  bottom: 20px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.3s ease-in, visibility 0.3s ease-in;
  transition-behavior: allow-discrete;

  @starting-style {
    opacity: 0;
    visibility: hidden;
  }
}

#resetChipView.resetVisible {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  cursor: pointer;
}