


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

#chipViewer {
  background-color: gray;
  a {
    background-color: white;
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

#navbar {
  position: relative;
  top: 0;
  display: flex;
  color: white;
  height: 60px;
  align-items: flex-start;
  justify-content: stretch;
  flex-flow: column nowrap;
  h1 {
    font-size: 20pt;
  }
}

#navbar div {
  height: 100%;
}

#navbar a {
  color: white;
  height: 60%;
  font-size: 16pt;
}

#navbar .MuiStack-root {
  display: flex;
  align-items: center;
}

#navbar .MuiStack-root a {
  display: flex;
  align-items: center;
  margin-left: 1.5em;
  transition: color 0.2s linear;
}

#navbar .MuiStack-root a:hover {
  color: #c4a0f9
}

#navbar button {
  position: absolute;
  right: 1.5em;
}

#resetChipView {
  position: absolute;
  left: 20px;
  bottom: 20px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.3s ease-in, visibility 0.3s ease-in;
  transition-behavior: allow-discrete;

  @starting-style {
    opacity: 0;
    visibility: hidden;
  }
}

#resetChipView.resetVisible {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  cursor: pointer;
}

#codeViewer {
  padding: 0 10%;
  padding-top: 25px;
  h1 {
    text-align: center;
  }
  .centered{
    margin: 0 auto;
    text-align: center;
    width: 100%;
  }
  img {
    min-width: 20vw;
    max-width: 100%;
  }
}

form {

  input[type=number], input[type=text] {
    background-color: #333;
    border: 2px solid var(--mui-palette-primary-dark);
    border-radius: 0.1em;
    color: white;
    padding: 0.3em;
  }
  > * {
    display: block;
    margin-bottom: 10px;
    font-size: 14pt;
    margin-left: auto;
    margin-right: auto;
  }

  input[type=submit], input::file-selector-button {
    background-image: linear-gradient(135deg, var(--mui-palette-primary-main), var(--mui-palette-primary-dark));
    color: white;
    padding: 0.5em;
    border: none;
    border-radius: 5px;


    :hover > div {
        background-color:rgba(0, 0, 0, 0.1);
    }
  }

  input[type=file] {
    border: 2px solid var(--mui-palette-primary-dark);
    padding: 5px;
  }
}